* {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;

  /* Colors */
  --darker: #1c1c21;
  --dark: #2f2f33;
  --gray: #48484a;
  --light: #606064;
  --lighter: #e2e2e2;
}

body {
  background-color: var(--darker);
}


