* {
  box-sizing: border-box;
  font-family: 'Courier Prime', monospace;

  /* Colors */
  --darker: #1c1c21;
  --dark: #2f2f33;
  --gray: #48484a;
  --light: #606064;
  --lighter: #e2e2e2;
}

body {
  background-color: var(--darker);
}

.layout {
  height: 100vh;
  display: flex;
}

.image {
  height: 100%;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.canvas {
  height: 32em;
  width: 32em;
}

.code {
  padding: 1.6rem;
  height: 100%;
  width: 16rem;
  float: right;
  color: var(--lighter);
  background-color: var(--gray);
  border: none;
  outline: none;
  resize: none;
}

.sidebar {
  padding: 1rem;
  width: 12rem;
  height: 100%;
  float: right;
  background-color: var(--dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.btn {
  border: none;
  background-color: #1c1c1c80;
  color: var(--lighter);
  padding: 0.4rem;
  outline: none;
}

.btn:hover {
  background-color: #35353580;
}

.layer {
  width: 100%;
  margin-top: 0.8rem;
}

.bar {
  padding: 0.2rem;
}

.close {
}
